{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/styl.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/awesomplete@1.1.5/awesomplete.min.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/awesomplete@1.1.5/awesomplete.min.js"></script>
<script defer src="{{ asset('js/autocomplete-lieu.js') }}"></script>
<style>
   
</style>

<section>
<div class="comp">
    <div class="card1 card">
        <div class="card-header">
            <h3>Ajouter un événement</h3>
        </div>
        <div class="card-body">
        {{ form(form) }}
        </div>
    </div>
</div>
</section>
   

{% endblock %}
