{% extends 'base.html.twig' %}

{% block title %}Modifier l'événement{% endblock %}

{% block body %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/awesomplete@1.1.5/awesomplete.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/awesomplete@1.1.5/awesomplete.min.css">
<script defer src="{{ asset('js/autocomplete-lieu.js') }}"></script>
<style>
   
</style>

<section class="d-flex justify-content-center align-items-center p-5 min-height-full">
    <div class="card container p-0">
        <div class="card-header p-3 text-center special-bg-color">
            <h3>Modifier l'événement</h3>
        </div>
        <div class="card-body">
        {{ form(form) }}
        </div>
    </div>
</section>
{% endblock %}