{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
{# <link rel="stylesheet" href="{{ asset('css/styl.css') }}"> #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    
    .card {
        width: 350px;
        background-color: #efefef;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
    }
    
    .image img {
        transition: all 0.5s
    }
    
    .card:hover .image img {
        transform: scale(1.5)
    }
    
    .btn {
        height: 140px;
        width: 140px;
        border-radius: 50%
    }
    
    .name {
        font-size: 22px;
        font-weight: bold
    }
    
    .idd {
        font-size: 14px;
        font-weight: 600
    }
    
    .number {
        font-size: 22px;
        font-weight: bold
    }
    
    .follow {
        font-size: 12px;
        font-weight: 500;
        color: #444444
    }
    
    .btn1 {
        height: 40px;
        width: 150px;
        border: none;
        background-color: #59C1BD;
        color: #000000;
        font-size: 15px
    }
    .h{
        font-size: 10vh;
    }
 
</style>
<section class="p-5 min-height-full d-flex justify-content-center align-items-center"> 
    <div class="card p-5"> 
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
            <button class="btn btn-secondary"><i class=" h fa-solid fa-user"></i></button>
            <span class="name mt-3 mb-1">{{user.username}}</span> 
            <span class="idd">{{user.email}}</span> 
            <div class=" d-flex mt-4">
                <a href="{{path('modifier_profile',{id:app.user.id})}}"><button class="btn1 btn-dark"> Edit Profile</button> </a>
            </div> 
        </div> 
    </div>
</section>  
 

{% endblock %}