{% extends 'base.html.twig' %}

{% block title %}Vos résérvations{% endblock %}

{% block body %}
  
<section class="container py-5">
  <h3 class="fs-1 text-center text-bold mt-2 mb-5">Vos résérvations</h3>
  <div class="events-container">
    {% for res in user.reserves %}
      {% include "components/event-card.html.twig" with {'event': res.event, 'reservation': res } %}
    {% endfor %}
  </div>
</section>

{% endblock %}