{% extends 'base.html.twig' %}

{% block title %}Vos événements{% endblock %}

{% block body %}
  
<section class="container py-5">
  <h3 class="fs-1 text-center text-bold mt-2 mb-5">Vos événements</h3>
  <div class="events-container">
    {% for event in user.events %}
      {% include "components/event-card.html.twig" with {'event': event } %}
    {% endfor %}
  </div>
</section>

{% endblock %}