
<div class="card shadow-sm d-flex align-items-center justify-content-center" style="height: 380px;">
  <div>
      <div class="fs-2 mb-2 d-flex justify-content-center">
        <i class="text-dark {{faIcon}}"></i>
      </div>
      <div class="p-4 text-center"> 
        <h4 class="card-title mb-3">{{title}}</h4>
        <p class="card-text">{{description}}</p>
      </div>
  </div>
  </div>